/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 40px 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #4c9ea5;
    color: #17071c;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #171717;
}

.hero {
    background-image: url('your-background-image.jpg');
    background-size: cover;
    background-color: rgb(66, 74, 106);
    background-position: center;
    color: #060618;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0cc3cd;
    color: #4b2424;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.features {
    background-color: #a8ebe7;
    padding: 60px 0;
}

.features h2 {
    text-align: center;
    margin-bottom: 40px;
}

.feature-item {
    text-align: center;
    margin-bottom: 20px;
}

.feature-item i {
    font-size: 36px;
    color: #f05f40;
}

.about {
    padding: 60px 0;
    text-align: center;
    background-color: #4c9ea5;
}

/* -------contact Us ---------- */

.contact {
    padding: 60px 0;
    text-align: center;
    background-color: #3a7b77;
    width: 100%;
}

.contact form {
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.contact form input,
.contact form textarea {
    width: 100%;
    color: #ce6666;
    border-color: #0cc3cd;
    margin-bottom: .8rem;
    border:none;
    border-radius: 5px;
    padding: .7rem;
}

.contact form textarea {
    resize: none;
}

.formBtn {
    display: flex;
    justify-content: center;
    width: 100%;

}

.formBtn .btn {
    cursor: pointer;
    font-size: 1rem;
}

footer {
    background-color: #ce6666;
    color: #433333;
    text-align: center;
    padding: 20px 0;
}
